Series(1d)

In [18]:
import pandas as pd
x = [1,2,4,7,23,8,36,7,2,78,23]

# N_series = pd.Series(x, index=['a', 'g', 'y'], dtype='float')
N_series = pd.Series(x, name='Python pandas')
print(N_series)

0      1
1      2
2      4
3      7
4     23
5      8
6     36
7      7
8      2
9     78
10    23
Name: Python pandas, dtype: int64

Use Dicitinary as Parameter

In [19]:
import pandas as pd

dic = {'Name'  : ["Python", "C", "C++", "Java"], "rank" : [1,4,3,2], "por" : [42,1,4,6]}

n = pd.Series(dic)

print(n)

Name    [Python, C, C++, Java]
rank              [1, 4, 3, 2]
por              [42, 1, 4, 6]
dtype: object

In [20]:
import pandas as pd

s1 = pd.Series(12, index=[1,2,3,4,5,6,7])
s2 = pd.Series(12, index=[1,2,3,4])

print(s1 + s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

DataFrame(2d)

In [4]:
import pandas as pd

l = [1,2,4,5,3]


n = pd.DataFrame(l)

print(n)

   0
0  1
1  2
2  4
3  5
4  3

In [6]:
import pandas as pd
dic = {"rank" : [1,4,3,2], "por" : [42,1,4,6]}

n = pd.DataFrame(dic)

print(n)

   rank  por
0     1   42
1     4    1
2     3    4
3     2    6

In [8]:
import pandas as pd
dic = {"rank" : [1,4,3,2], "por" : [42,1,4,6]}

n = pd.DataFrame(dic, columns=["rank"])

print(n)

   rank
0     1
1     4
2     3
3     2

In [9]:
import pandas as pd
dic = {"rank" : [1,4,3,2], "por" : [42,1,4,6]}

n = pd.DataFrame(dic)

print(n["rank"][2])

3

In [10]:
import pandas as pd
lst = [[1,4,3,2],[42,1,4,6]]

n = pd.DataFrame(lst)

print(n)

    0  1  2  3
0   1  4  3  2
1  42  1  4  6

In [12]:
import pandas as pd
sr = {"s" : pd.Series([1,4,3,2]), "r" : pd.Series([42,1,4,6])}

n = pd.DataFrame(sr)

print(n)

   s   r
0  1  42
1  4   1
2  3   4
3  2   6

Arithmatics Operation in Pandas

In [13]:
import pandas as pd

var1 = pd.DataFrame({"A" : [1,2,3,4], "B" : [5,6,7,8]})

var1

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [14]:
var1["C"] = var1["A"] + var1["B"]
var1

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [18]:
import pandas as pd

var2 = pd.DataFrame({"A" : [1,2,3,4], "B" : [5,6,7,8]})

var2["python"] = var2["A"] <= 2

var2

   A  B  python
0  1  5    True
1  2  6    True
2  3  7   False
3  4  8   False